*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}
body {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	min-height: 100vh;
	flex-direction: column;
}
footer {
	position: relative;
	width: 100%;
	height: auto;
	padding: 50px 100px;
	background: #063352;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
footer .container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
}
footer .container .aboutus{
	margin-right: 30px;
	width: 40%;
}
footer .container .aboutus h2{
	position: relative;
	color: #fff;
	font-weight: 500;
	margin-bottom: 15px;
}
footer .container .aboutus h2:before{
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 50px;
	height: 3px;
	background: #ffcc33;
}
footer .container .aboutus p{
	color: #999;
}
footer .container .quickLinks h2 {
	position: relative;
	color: #fff;
	font-weight: 500;
	margin-bottom: 15px;
}
footer .container .quickLinks h2:before {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 50px;
	height: 3px;
	background: #ffcc33;
}
.quickLinks {
	position: relative;
	width: 25%;
}
.quickLinks ul li {
	list-style: none;
}
.quickLinks ul li a {
	color: #999;
	text-decoration: none;
	margin-bottom: 8px;
	display: inline-block;
}
.quickLinks ul li a:hover {
	color: #ffcc33;
}
.contactus {
	width: calc(35% - 60px);
	margin-right: 0 !important;
}
footer .container .contactus h2 {
	position: relative;
	color: #fff;
	font-weight: 500;
	margin-bottom: 15px;
}
footer .container .contactus h2:before {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 50px;
	height: 3px;
	background: #ffcc33;
}
.contactus .info {
	position: relative;
}
.contactus .info li {
	display: flex;
	list-style: none;
	margin-bottom: 16px;
}
.contactus .info li span:nth-child(1) {
	color:#fff;
	
	margin-right: 10px;
}
.clearfix {
       overflow: auto;
}
.box {
	margin-left:10%;
	margin-right: 10%;
}
/*Menu*/
body {
	font-family: 'Alegreya Sans', sans-serif;
	overflow-x: hidden;
}
.nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	opacity: .9;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.7s;
}
.nav a {
	display: block;
	padding: 20px 30px;
	font-size: 25px;
	text-decoration: none;
	color: white;
}
.nav .link:hover {
	background-color: #ffcc33;
	transition: 0.4s;
}
.nav .close {
	position:absolute;
	top: 0;
	right: 22px;
	margin-left: 50px;
	font-size: 30px;
}
.nav .close:hover {
	color: #ffcc33;
}

.slide a {
	color: #000;
	font-size: 36px;
}
.slide a:hover {
	color: #ffcc33;
}
#content {
	padding: 20px;
	transition: margin-left 0.7s;
	overflow: hidden;
	width: 100%;
}
@media screen and (min-width: 900px) {
	img {
		float: left; 
		width: 40%; 
		height:auto; 
		margin-right: 30px;
		max-width:500px;
		max-height: 500px;
	}
}
@media screen and (max-width: 900px) {
	img {
		float: left; 
		width: 50%; 
		height:auto; 
		margin-right: 30px;
	}
	p {
		font-size:70%;
	}
}
